/* Reset básico */
body, ul, li, a, button {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    background-color:#F5F3F6;
    padding: 0.5rem 1rem;
    color: black;
  }
  
  .navbar-logo  {
    font-size: 1.5rem;
    color: white;
    margin: auto;
    margin-left: 1em;
    font-weight: bold;
  }
  .navbar-img  {
   height: 6em;
  }
  
  .navbar-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    display: none;
    cursor: pointer;
  }
  
  /* Estilo padrão para o menu */
  .navbar-menu {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-menu li a {
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-menu li a:hover {
    background-color: #575757;
  }
  