.App {
  text-align: center;
  background-color:"pink"
}

/* Prevent horizontal scrolling */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

/* Ensure all divs don't exceed the screen width */
* {
  box-sizing: border-box;
}
